<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">

        <div class="copyright">
            <p>Copyright {% year %} Hoehne:Design. All rights reserved.</p>
        </div>
        <div class="credit">

            <span>Hand Coded by</span>
            <a href="https://painlesssites.com/" target="_blank" rel="noopener">Painless Sites</a>
        </div>
    </div>

</footer>