---
title: 'About | Hoehne:Design'
description: 'My name is Ted Hoehne, and I’m the only son of German immigrant parents who, quite literally, escaped from Germany… '
preloadImg: ''
permalink: 'about/'
eleventyNavigation:
    key: about
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="about">
        <div class="hero">
            <h1>about us...</h1>
            <p>See why I like working from home?</p>
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/ValleyShot.png">
                <source media="(min-width: 601px)" srcset="/assets/images/ValleyShot.png">
                <img aria-hidden="true" decoding="async" src="/assets/images/ValleyShot.png" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
            </picture>
        </div>

        <div class="about-container">
            <div class="about-text">
                <p>This will probably be more information than you’ll ever want to know about us, but you’re here now, so buckle up if you’re willing…</p>
                <p>My name is Ted Hoehne, and I’m the only son of German immigrant parents who, quite literally, escaped from Germany… like crossing the East/West German border under gun fire… to come to America and start life anew. They settled in the quiet little foothill town of Sierra Madre, California… and that’s where I came in.</p>
                <p>I grew up loving to draw and create cool stuff (at least it was cool to me)—and having a number of relatives that were quite good at illustrating and painting—I guess it was in the blood.</p>
                <p>Fast-forwarding to my later teen years finds me, out of necessity, transitioning from a fine art focus to commercial graphics when I got a job as a paste-up artist (you gotta pay the bills somehow) with a company called “The Typesetters”, and I ended up really enjoying the whole process that paste-up to print involved.</p>
                <p>While there, I ended up purchasing a computer (personal computers were just becoming affordable back then), and it revolutionized my way of thinking about commercial graphics and fine art. It was a light-bulb moment when I started using computers, and I was hooked on digital from then on! I paid a friend of mine, who was already a very computer-literate graphic artist, to teach me how to use the computer to create commercial graphics, and I was off and running.</p>
                <p>During that time, I dated, and then married, the girl across the street… yes, my wife Therese and I grew up literally across the street from one another (you know that doesn’t happen much anymore) and we knew each other from a fairly early age—though we didn’t pay much attention to each other until the hormones started kicking in, if you know what I mean.</p>
                <p>I got a job designing advertising for the Yellow Pages, and did so well there, that when the company decided to move to southern Oregon, they invited me and my family (we had two kids by then) to move up there with them. They knew that I was interested in moving from print design to video and animation work, and they offered to let me start a video/animation division within their company once we got established there. It was an opportunity we couldn’t pass up, plus, we had been wanting to move out of the LA area for a while, and this was our chance.</p>
                <p>I was with that company for 10 years when they were required to shut down because of some tax-related issues. It was a scary time for us, because we had 5 children by then, and our future was very uncertain.</p>
                <p>I want to say that since our teens, both Therese and I have believed in and sought after God (I’m referring to the God of the Bible) and have been people of faith for a long time… and this uncertainty regarding our future was a real test of our belief in God’s provision.</p>
                <p>But, it turned out that God intended through this job-ending crisis to fulfill a long-held dream of mine to work from home as my own boss. I was basically forced to realize my dream. The ill-fated company—that was run by some really great guys with whom I had become good friends with in spite of what happened to end the company—offered to set me up with the equipment I needed to get started at home, and I took them up on it and started Hoehne:Design.</p>
                <p>That was in 2001, and the faith-stretching realities of being on your own have never stopped… but neither have the rewards—it’s a life we’ve both come to cherish, enjoy, and struggle with.</p>
                <p>And now we’re here… Ted and Therese Hoehne = Hoehne:Design. I do the creative work, Therese does the finances (I got the better end of deal, don’t you think?).  And, yes, that is the view from our humble, magnificent home/office.</p>
                <p>Wow, you made it all the way through my ramblings… I’m impressed. Now send us some work &#128578;</p>
            </div>
        </div>
    </section>

{% endblock %}