---
title: 'Contact | Hoehne:Design'
description: "Got a project in mind, or just curious to know more? Reach out and let's make something amazing together. Whether it’s motion graphics, 3D animation, or print design, I’m here to listen and collaborate."
preloadImg: ""
permalink: 'contact/'
eleventyNavigation:
    key: contacts
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="services">
        <div class="hero">
            <h1>contacts</h1>
            <p>Feel free to ask me any questions through the form below... if you dare, matey. Arrrr!</p>
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/AE_Timeline_wPirateFlare.png">
                <source media="(min-width: 601px)" srcset="/assets/images/AE_Timeline_wPirateFlare.png">
                <img aria-hidden="true" decoding="async" src="/assets/images/AE_Timeline_wPirateFlare.png" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
            </picture>
        </div>
        <div class="form-container">
            <form>
                <div class="form-label-align">
                    <label for="fullname">Your Name (required)</label><br>
                    <input type="text" id="fullname" name="fullname"><br>
                </div>
                <div class="form-label-align">
                    <label for="email">Your Email (required)</label><br>
                    <input type="email" id="email" name="email"><br>
                </div>
                <div class="form-label-align">
                    <label for="subject">Subject</label><br>
                    <input type="text" id="subject" name="subject"><br>
                </div>
                <div class="form-label-align">
                    <label for="message">Your Message</label><br>
                    <textarea type="text" id="message" name="message"></textarea><br>
                </div>
                <div class="form-submit-align">
                    <input type="submit" value="Send">
                </div>
            </form>
        </div>

    </section>

{% endblock %}