---
title: 'Services | Hoehne:Design'
description: 'Hoehne:Design DOES offer thoughtful, bold, courageous, creative, fun motion-graphics, 3D animations, and print design that’s tailored to grab the limited attention span of todays audiences and get your company, your services, your products...'
preloadImg: ''
permalink: 'services/'
eleventyNavigation:
    key: the do's... the don'ts
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/services.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="about">
        <div class="hero">
            <h1>the do's... the don'ts</h1>
            <p>What exactly DOES Hoehne:Design do and not do?</p>
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/DosDonts02.png">
                <source media="(min-width: 601px)" srcset="/assets/images/DosDonts02.png">
                <img aria-hidden="true" decoding="async" src="/assets/images/DosDonts02.png" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
            </picture>
        </div>

        <div class="services-container">
            <h2 class="services-h2">What we (well, really... what I) DO.</h2>
            <picture class="cs-picture-1">
                <source media="(max-width: 600px)" srcset="/assets/images/Dos_06.png">
                <source media="(min-width: 601px)" srcset="/assets/images/Dos_06.png">
                <img aria-hidden="true" decoding="async" src="/assets/images/Dos_06.png" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
            </picture>
            <div class="services-p">
                <p>Hoehne:Design <strong>
                        <em>DOES</em>
                    </strong> offer thoughtful, bold, courageous, creative, fun motion-graphics, 3D animations, and print design that’s tailored to grab the limited attention span of todays audiences and get your company, your services, your products, or your events noticed and on the map. Engaging the eye-smile and the heart-tug is what I strive for.</p>
                <p>Hoehne:Design <strong>
                        <em>DOES</em>
                    </strong> offer over 30 years of design experience and know-how, and strives to be on top of todays current design trends; to continue to hone and expand my current skillset, talents and abilities… and to get my grubby little hands on the very best software and hardware available (oh yes, I love technology!… sing it, Kip). I’ve always been a Mac guy (though I have nothing against Windows) and I use After Effects, Premiere Pro, Photoshop, Illustrator, InDesign, Audition, and Cinema 4D to get the job done… depending on what the job calls for.</p>
                <p>Hoehne:Design <strong>
                        <em>DOES</em>
                    </strong> offer a collaborative project workflow that values the client’s directions, input, hopes—and even their dreams… from the start of the project, throughout the project’s development, and then to its completion. Hoehne:Design DOES listen.</p>
                <p>Hoehne:Design <strong>
                        <em>DOES</em>
                    </strong> offer prompt and responsive communication with my clients… whether it’s by phone, email, text—or whatever (though I like to have things in writing for future reference, if need be (i.e.emails, texts, Trello, etc)… particularly for project instructions or revisions—it saves on the potential headaches that may result from me not writing something down properly while we’re chatting on the phone).</p>
                <p>Hoehne:Design <strong>
                        <em>DOES</em>
                    </strong> offer some limited audio editing and script writing… but typically, the client provides a finished script—or at least a project outline of what they’re looking for that I can craft a script from—and finished audio for me to use (voice-over and music). That being said…</p>
                <p>Hoehne:Design <strong>
                        <em>DOES</em>
                    </strong> offer to handle finding voice-over talent that you can review and choose from… and having that talent recorded professionally; finding and hiring on-camera talent if needed; finding music tracks to be used for your project; searching for stock imagery and footage that would best fit with your project—and, yes, even writing a script (redundant, right?)… if all that stuff just ain’t your thang.</p>

            </div>
            <hr>
            <h2 class="services-h2">What I DON'T DO.</h2>
            <picture class="cs-picture-1">
                <source media="(max-width: 600px)" srcset="/assets/images/Donts_02.png">
                <source media="(min-width: 601px)" srcset="/assets/images/Donts_02.png">
                <img aria-hidden="true" decoding="async" src="/assets/images/Donts_02.png" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
            </picture>
            <div class="services-p">
                <p>Hoehne:Design <strong>
                        <em>DOESN’T</em>
                    </strong> offer videography, because I don’t own a camera, and I wouldn’t know how to use it professionally if I did. But, I have videographers I can hire if needed.</p>
                <p>Hoehne:Design <strong>
                        <em>DOESN’T</em>
                    </strong> argue. The client’s always right, darn it… right? That being said, though, I do welcome the opportunity to suggest my own creative ideas and solutions when appropriate and desired.</p>
            </div>
            <hr>
        </div>
    </section>

{% endblock %}