/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero {
    padding: clamp(10rem, 9vw, 6.25rem) 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #hero .filter-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
  }
  #hero .filter-button {
    background: transparent;
    line-height: 1.5;
    border: none;
    padding: 0 1.2rem 0 1.2rem;
    color: #d5deef;
    font-family: "Ubuntu", Arial, sans-serif;
    font-size: 1rem;
  }
  #hero .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-block: 1rem;
    width: fit-content;
  }
  #hero .portfolio-item {
    position: relative;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.4s ease-in, transform 0.6s ease-in;
    width: 100vw;
    height: clamp(14rem, 50vw, 30rem);
  }
  #hero .portfolio-item .portfolio-picture {
    position: relative;
    width: 100%;
    height: 100%;
  }
  #hero .portfolio-item .portfolio-picture .thumb {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50%;
  }
  #hero .portfolio-item .portfolio-picture .thumb::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #hero .portfolio-item .portfolio-link {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    text-decoration: none;
  }
  #hero .portfolio-item .portfolio-link:before {
    content: "\25B6";
    position: absolute;
    font-size: 4.5rem;
    background: transparent;
    color: #fff;
    text-shadow: 0 0px 1px rgba(0, 0, 0, 0.4);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1, 1);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  #hero .portfolio-item .item-description {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    opacity: 1;
    z-index: 1;
    transition: opacity 0.3s ease-in-out;
    padding: 0 1.5rem 2rem 0;
    width: 100%;
    height: 100%;
  }
  #hero .portfolio-item .item-description h2 {
    text-align: right;
    font-size: 2rem;
    color: white;
    font-family: "Rubik", Arial, sans-serif;
  }
  #hero .portfolio-item .item-description p {
    text-align: right;
    color: #F64383;
    width: 60%;
  }
  #hero .fade-in-up {
    opacity: 1;
    transform: translateY(0);
  }
  #slider {
    padding: 1rem 0.2rem 1rem 0.2rem;
  }
  #slider .active {
    border: 3px solid aqua;
    border-radius: 20px;
  }
  #slider .container {
    display: grid;
    width: 100%;
    gap: 0.4rem;
    grid-auto-flow: column;
    grid-auto-columns: 29%;
    height: 100%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
  }
  #slider .center-slider {
    justify-content: center;
  }
  #slider .snaps-inline {
    scroll-snap-type: inline mandatory;
  }
  #slider .snaps-inline > * {
    scroll-snap-align: start;
  }
  #slider .portfolio-item-slider {
    display: grid;
    grid-template-rows: min-content;
  }
  #slider .portfolio-item-slider .thumb-slider {
    inline-size: 100%;
    height: clamp(2rem, 18vw, 10rem);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  #slider .portfolio-item-slider .portfolio-link-slider {
    display: block;
    height: 100%;
  }
  .modal {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    z-index: 1;
  }
  .modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
  }
  .modal-slider {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
  }
  .iframe-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
  }
  .iframe-wrapper > iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 3;
  }
  .modal-prev,
  .modal-next {
    position: absolute;
    top: 43%;
    background: transparent;
    color: white;
    border: none;
    font-size: 32px;
    font-family: "Rubik";
    cursor: pointer;
    z-index: 2;
  }
  .modal-close {
    background: rgba(0, 0, 0, 0.5);
    padding-right: 1rem;
    color: white;
    border: none;
    background: transparent;
    font-family: "Rubik";
    font-size: 32px;
    cursor: pointer;
  }
  .modal-prev {
    left: 1rem;
  }
  .modal-next {
    right: 1rem;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 65rem) {
  #hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #hero .filter-header {
    display: flex;
    justify-content: center;
  }
  #hero .filter-group {
    display: flex;
    flex-direction: row;
  }
  #hero .filter-button {
    background: transparent;
    border: none;
    padding: 0 1.2rem 0 1.2rem;
    font-size: 1rem;
    padding-bottom: 1.2rem;
  }
  #hero .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-block: 1rem;
    width: fit-content;
  }
  #hero .portfolio-item {
    position: relative;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.4s ease-in, transform 0.6s ease-in;
    width: clamp(15rem, 30vw, 80rem);
    height: clamp(8rem, 18vw, 80rem);
  }
  #hero .portfolio-item .portfolio-picture {
    position: relative;
    width: inherit;
    height: inherit;
  }
  #hero .portfolio-item .portfolio-picture .hover-thumb {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  #hero .portfolio-item .portfolio-picture .hover-thumb:hover {
    opacity: 1;
  }
  #hero .portfolio-item .portfolio-picture .thumb {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50%;
  }
  #hero .portfolio-item .portfolio-picture .thumb::after {
    background-color: rgba(0, 0, 0, 0);
  }
  #hero .portfolio-item .portfolio-link {
    position: absolute;
    display: block;
    width: inherit;
    height: inherit;
    z-index: 2;
    text-decoration: none;
  }
  #hero .portfolio-item .portfolio-link:before {
    content: "\25B6";
    position: absolute;
    font-size: 4.5rem;
    background: transparent;
    color: #fff;
    text-shadow: 0 0px 1px rgba(0, 0, 0, 0.4);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1, 1);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  #hero .portfolio-item .item-description {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.3s ease-in-out;
    padding: 0 1.5rem 2rem 0;
    width: 100%;
    height: 100%;
  }
  #hero .portfolio-item .item-description h2 {
    text-align: right;
    color: white;
    font-family: "Rubik", Arial, sans-serif;
  }
  #hero .portfolio-item .item-description p {
    text-align: right;
    color: #F64383;
    width: 60%;
  }
  #hero .portfolio-item:hover .portfolio-picture .hover-thumb {
    opacity: 1;
  }
  #hero .portfolio-item:hover .portfolio-picture .item-description {
    opacity: 1;
  }
  #hero .portfolio-item:hover .portfolio-picture .portfolio-link:before {
    opacity: 1;
  }
  #hero .fade-in-up {
    opacity: 1;
    transform: translateY(0);
  }
  #slider {
    padding: 1rem 0.2rem 1rem 0.2rem;
  }
  #slider .active {
    border: 3px solid aqua;
    border-radius: 20px;
  }
  #slider .container {
    display: grid;
    width: 100%;
    gap: 0.4rem;
    grid-auto-flow: column;
    grid-auto-columns: 6%;
    height: 100%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
  }
  #slider .center-slider {
    justify-content: center;
  }
  #slider .snaps-inline {
    scroll-snap-type: inline mandatory;
  }
  #slider .snaps-inline > * {
    scroll-snap-align: start;
  }
  #slider .portfolio-item-slider {
    display: grid;
    grid-template-rows: min-content;
  }
  #slider .portfolio-item-slider .thumb-slider {
    inline-size: 100%;
    height: clamp(3rem, 4vw, 10rem);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  #slider .portfolio-item-slider .portfolio-link-slider {
    display: block;
    height: 100%;
  }
  .modal {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    z-index: 1;
  }
  .modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
  }
  .modal-slider {
    padding-top: 6rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    width: calc(70% - 14rem);
    min-width: 60rem;
  }
  .iframe-wrapper {
    margin-top: 4rem;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
  }
  .iframe-wrapper > iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  .modal-prev,
  .modal-next {
    position: absolute;
    top: 43%;
    background: transparent;
    color: white;
    border: none;
    font-size: 32px;
    font-family: "Rubik";
    cursor: pointer;
    z-index: 2;
  }
  .modal-close {
    background: rgba(0, 0, 0, 0.5);
    padding-right: 1rem;
    color: white;
    border: none;
    background: transparent;
    font-family: "Rubik";
    font-size: 32px;
    cursor: pointer;
    margin-bottom: -4rem;
  }
  .modal-prev {
    left: 2rem;
  }
  .modal-next {
    right: 2rem;
  }
}
