---
title: 'Hoehne:Design | Motion Graphics | 3D Animation | Video Editing'
description: 'With over 30 years design experience, Hoehne Design works with both local and national clients, providing show opens and internal graphics for national television programs, creating award-winning television commercials, and much more.'
preloadImg: ''
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero">
        <div class="filter-group">
            <button class="filter-button"  id="filter-all-btn" data-category="all">All</button>
            <button class="filter-button" id="motion-graphics-btn" data-category="motion-graphics">Motiongraphics</button>
            <button class="filter-button" id="infographics-btn" data-category="infographic">Infographics</button>
            <button class="filter-button" id="character-anim-btn" data-category="character-animation">Character Animation</button>
            <button class="filter-button" id="video-editing-btn" data-category="video-editing">Video Editing</button>
            <button class="filter-button" id="retail-btn" data-category="retail">Retail</button>

        </div>

        <div class="portfolio-grid">
            {%-  for item in portfolio.portfolioData -%}
                {%- if loop.index <= 6-%}
                    <div class="portfolio-item" data-category="{{item.category}}">
                        <div class="portfolio-picture">
                            <div class="hover-thumb" style="background-image: url({{item.gif}})"></div>
                            <div class="thumb" style="background-image: url({{item.image}})"></div>
                            <a href="{{item.link}}" class="portfolio-link"></a>
                            <div class="item-description">
                                <h2>{{item.title}}</h2>
                                <p>{{item.description}}</p>
                            </div>
                        </div>
                    </div>
                {%- endif -%}
            {%- endfor -%}

        </div>

        <div id="video-modal" class="modal">
            <div class="modal-content">
                {# <div class="modal-close">X</div> #}
                <div class="modal-prev">&#10094;</div>
                <div class="modal-slider"></div>
                <div class="modal-next">&#10095;</div>
            </div>
            <div id="slider">
                <div class="container snaps-inline center-slider">
                    {%-  for item in portfolio.portfolioData -%}
                        {%- if loop.index <= 6-%}
                            <div class="portfolio-item-slider " data-category="{{item.category}}" data-index="{{item.id}}">

                                <div class="thumb-slider" style="background-image: url({{item.image}})">
                                    <a href="{{item.link}}" class="portfolio-link-slider"></a>
                                </div>
                            </div>

                        {%- endif -%}
                    {%- endfor -%}
                </div>
            </div>
        </div>
    </div>
    <script id="portfolioData" type="application/json">
        {{ portfolio.portfolioData | jsonify }}
    </script>
</section>
<script src="/assets/js/index.js"></script>
{% endblock %}